# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual environments
venv/
.venv/
env/
.env/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# TradingPal-AI
data_cache/*
!data_cache/.gitkeep
!data_cache/finsen_daily_sentiment.parquet
data/finsen_data/

# Streamlit
.streamlit/secrets.toml
